.Competiciones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    grid-gap: 35px;
}

.Compet-event{
    background-color: white;
    box-shadow: 0px 0px 6px 2px #c4c4c4;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0.4rem;
}
.Compet-event img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}