.nav{
    background:#28666e;
    color: black;
    box-shadow: 0px 1px 6px 1px #c4c4c488;
    width: 100%;
    padding: 10px 0;
    color: aliceblue;
}
.nav .container90{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo{
    width: 100%;
    display: flex;
    align-items: center;
}
.navLogo img{
    width: 50px;
}

.navList{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}

.header{
    min-height: 100vh;
    position: relative;
    background-image: url(../imagenes/fondo.jpg);
    background-size: 100% 100%;
}

p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}